.options-menu {
    position: absolute;
    top: 60px;
    right: 0px;
    height: auto;
    width: 300px;
    border: 1px solid #0022FF;
    border-radius: 20px 0 0 20px;
    border-style: solid none solid solid;
    background-color: #F8F8F8;
}

.options-menu label,
.options-menu p {
    font-weight: 400;
    font-size: 1.2em;
}

.mode-select-item:hover svg {
    fill: blue;
}

.mode-select svg {
    height: 30px;
    display: block;
    margin-left: 20px;
}

.mode-select {
    display: flex;
}

.radius-select {
    display: flex;
    border-bottom: 1px solid #707070;
}

.radius-select input {
    max-width: 150px;
}

.places-select .checkboxes {
    margin-left: 40px;
}

.places-select .checkboxes .form-check-input {
    margin-top: 8px;
    transform: scale(1.5);
}

.places-select .checkboxes label {
    margin-left: 8px;
}

@media only screen and (max-width: 1200px) {
    .options-menu {
        top: calc(60vh - 62px);
        bottom: 0px;
        height: auto;
        width: 50%;
        border: 1px solid #0022FF;
        border-radius: 0;
        border-style: solid none none solid;
        background-color: #F8F8F8;
    }

    .places-select .places-label {
        display: none;
    }

    .places-select .checkboxes {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .options-menu {
        width: 100%;
        bottom: 65px;
    }

    .options-menu h3 {
        display: none;
    }

    .options-menu .radius-select {
        padding: 5px 0!important;
    }

    .options-menu .places-select {
        padding-top: 0!important;
    }
}