
.navbar-brand {
    color: #0022FF!important;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-nav a {
    color: black!important;
}

.login-actions button {
    margin-left: 15px;
    padding: 5px 15px;
}

@media screen and (min-width: 1050px) {
    .search {
        min-width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .search {
        min-width: 450px;
    }
}