
.navbar-brand {
    color: #0022FF!important;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-nav a {
    color: black!important;
}

.login-actions a,
.login-actions button {
    margin-left: 15px;
    padding: 5px 15px;
}

.login-actions {
    display: flex;
    height: 38px;
}

.login-actions .user p {
    padding: 0;
    margin: 0;
}

.login-actions .user {
    margin-top: -5px;
}

.header-items .navbar-nav {
    width: 280px;
}
